#filtres {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.Tous{
	
	border: solid 1px #1D6154;
	display: inline-block;
	border-radius: 60px;
	padding: 10px 25px; 
	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #1D6154;
	background-color: white;
}


.filtres-color {
	background-color: #1D6154;
	color: white;
}